.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  position: relative;
}

.container > h2 {
  margin-top: 0;
}

.hide {
  display: none;
}

.view {
  position: absolute;
  top: 0;
  right: 2px;
  cursor: pointer;
}

.delete {
  position: absolute;
  top: 0;
  right: 30px;
  cursor: pointer;
}

.edit {
  position: absolute;
  top: 0;
  right: 58px;
  cursor: pointer;
}
