.itemContainer {
  display: flex;
  background: yellow;
  margin: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
}
.btnContainer {
  display: flex;
  gap: 10px;
}
.btn {
  color: white;
  background-color: #1d4ed8;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.imgSize {
  height: 100px;
  width: 100px;
}
